.announcement-bar {
  &__wrapper {
    background-color: #{settings.background_color};
    color: #{settings.text_color};
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    justify-content: center;
  }

  &__content span {
    font-size: var(--font-up-1);
  }

  &__close a {
    color: #{settings.text_color};
  }
}

// Outlets
.announcement-bar__wrapper {
  &.above-main-container {
    margin-bottom: 1.5rem;
  }
}
